# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs & temp
*.log
tmp/

# OS files
.DS_Store

*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf